body {
    background-color: #4d4642; 
    font-family: 'Montserrat';
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #ac9d92;
    font-size: 2em;
    margin-bottom: 20;
}

h2 {
    color: #ac9d92;
    margin: 10px;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch; 
}

button {
    background-color: #2cca47;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 10px;
    margin: 150px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1f9132;
}

#bno2, #bno3 {
    background-color: #e74c3c;
}

#bno2:hover, #bno3:hover {
    background-color: #c0392b;
}

#afraid {
    margin: 30px;
    background-color: #3ca8e7;
}

#afraid:hover {
    background-color: #246388;
}

#gifspan {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch; 
}

.goyda {
    max-width: 42%;
    height: auto;
    margin-top: 30px;
}

.pls {
    max-width: 12%;
    height: auto;
    margin-top: 30px;
}



